accelerate
anyio
argon2-cffi
argon2-cffi-bindings
attrs
backcall
beautifulsoup4
bleach
cffi
chardet
charset-normalizer
click
colorama
debugpy
decorator
defusedxml
entrypoints
exceptiongroup
fastjsonschema
filelock
Flask
fsspec
gluonnlp==0.8.0
graphviz
idna
diffusers @ git+https://github.com/huggingface/diffusers.git@6b1abba18dce2eb169b6363ea5f626e7cd87cf21
importlib-metadata
importlib-resources
ipykernel
ipython
ipython-genutils
ipywidgets
itsdangerous
jedi
Jinja2
jsonschema
kobert-tokenizer @ git+https://github.com/SKTBrain/KoBERT.git@47a69af87928fc24e20f571fe10c3cc9dd9af9a3#subdirectory=kobert_hf
libretranslatepy
lxml
MarkupSafe
matplotlib-inline
mistune
mxnet
mypy-extensions
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
notebook
notebook_shim
numpy
packaging
pandas
pandocfilters
parso
pickleshare
Pillow
pkgutil_resolve_name
prometheus-client
prompt-toolkit
psutil
pycparser
Pygments
pyre-extensions
pyrsistent
python-dateutil
pytz
PyYAML
pyzmq
qtconsole
QtPy
regex
requests
safetensors
scipy
Send2Trash
sentencepiece==0.1.99
six
sniffio
soupsieve
terminado
tinycss2
tokenizers
tornado
tqdm
traitlets
transformers
translate
typing-inspect
typing_extensions
urllib3
wcwidth
webencodings
websocket-client
Werkzeug
widgetsnbextension
wincertstore
zipp

